
<br/>
<div class="row" id="bottom_blocks" style="margin-right: auto; margin-left: auto;">
 
  <div class="large--two-fifths">
    <div data-delay="300" data-animate="fadeInLeft " class="bottom-block fadeInLeft animated">
      <div class="block-logo">
        <img alt="" src="{{ 'truck.svg' | asset_url }}" class="swing">
      </div>
      
      <div class="block-content">
        <div class="block-heading">{{ settings.footer_above_header1 }}</div>
        <p class="block-caption">{{ settings.footer_above_text1 }}</p>
      </div>
    </div>
  </div>
  
  
  <div class="large--two-fifths left_img">
    <div data-delay="300" data-animate="fadeInRight " class="bottom-block fadeInRight animated">
      
      <div class="block-logo">
        <img alt="" src="{{ 'money-back.svg' | asset_url }}" class="swing">
      </div>
      
      <div class="block-content">
        <div class="block-heading">{{ settings.footer_above_header2 }}</div>
        <p class="block-caption">{{ settings.footer_above_text2 }}</p>
      </div>
       
     
    </div>
  </div>
  


</div>